.card-title{
    font-size: 16px;
}
.lead {
    font-size: 14px;
    
}
.card{
    margin: 15px;
    transition: all 0.5s ease;
}
.card:hover{
    transform: scale(1.03);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

button.btn.btn-primary:hover{
    background-color: red;
}

a.btn.btn-primary:hover{
    background-color: red;
}